nav{
    background-color: mediumpurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.heading{
    color: white;
}

.group-heading{
    font-size: 34px;
}

.navigation-links{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.navigation-links:hover{
    border: 1px solid gray;
    padding: 10px;
    background-color: gray;
}

.active{
    border: 1px solid gray;
    padding: 10px;
    background-color: gray;
}


main {
    flex: 1;
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    text-align: none;  
}

h1, h2 {
    margin-bottom: 1rem;
}

.activities, .tickets {
    margin-bottom: 2rem;
    padding: 1rem;
    color: white;
}

.search-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

form {
    display: grid;
    padding: 9rem;
    gap: 1rem;
    color: rgb(255, 255, 255);
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: mediumpurple;;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.75rem;
}

button:hover {
    background-color: #45a049;
}



.activities{
    color: black;
}

footer {
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 0.01rem;
    margin-top: auto;
}